<nav id="nav-header">
    <div class="container">
        <div class="left">
            <%= link_to "Items.", root_path, class:"navbar-brand" %>
        </div>
        <div class="right">
            <ul class="right-nav">
                <li>
                    <%= link_to "About", home_about_path%>
                </li>
                <li>
                    <%= link_to "Shopping Cart"%>
                </li>
                <li>
                    <%= link_to "Sign in"%>
                </li>
            <ul>
        </div>
    </div>
</nav>
