<section id="index">

    <%# <div class="container"> %>

        <div class="showcase"></div>
        <div class="text">
            <h1>Welcome to Items! </h1>
            <p>Combining all your online shopping into one place</p>
        </div>
    </div>
    
</section>