<section id="index">

    <%# <div class="container"> %>

        <div class="showcase"></div>
        <div class="transparent"></div>
        <div class="text">
            <h1>Welcome to Items! </h1>
            <p>Combining all your online shopping into one place Combining all your<br> online shopping into one place</p>
        </div>
        <div class="btns">
            <button class="sign-in"><< Lets Get Started!</button>
            <%# <button class="sign-up">Sign up</button> %>
        </div>
    </div>
    
</section>