#edit{
    h1{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 50px;
        font-size: 3.1vw;
        position: absolute;
        top: 26%;
        left: 5%;
        color: #fff;
        text-shadow: 2px 2px black;
    }
    
}