#nav-header li{
    list-style: none;
}
#nav-header{
    background-color: black;
    color: white;
    margin-top: 0;
    height: 55px;
}
#nav-header .container{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-header .left{
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
    
}
#nav-header .right-nav{
    display: flex;
    padding: 20px;
}
#nav-header li {
    padding: 20px;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
}